In [16]:
import pandas as pd
df = pd.read_csv('sup_mark.csv')
df
df.head(10).isnull()  
# it show first 10 rows and colomn with null(true) or notnull value (false)
df.head(10).isnull()  
df.shape                    # to know rows and column
df.isnull().sum().sum()    # it defines how many null values are there in the Data frame 

# 1) Filling Null values
# it fill the null value with the 0 we can see in df(7,profit) =>> and asign to new dataframe called df2
df2 = df.fillna(value =0).head(10)   
df2      # this is new data frame which containt "0" insted of "null"
df2.isnull().sum().sum()   

# filling null values whith previous values 
df3 = df.fillna(method = 'pad')
df3

# filling null values whith Next values 
df4 = df.fillna(method = 'bfill')    # backward fill
df4

# fill The null value column wise - previous value
#   column1 => null    => column3
#   column1 => column1 => column3
df5 = df.fillna(method = 'pad' , axis = 1)
df5

# fill The null value column wise - comming / next value 
#   column1 => null    => column3
#   column1 => column3 => column3
df6 = df.fillna(method = 'bfill' , axis = 1)
df6

# filling different values in Null in different columns
df7 = df.fillna({'Region' : 'abc' ,
                'Discount': '_val_',})
df7

# filling null value with the "mean" of a column
# we can use 'max' , 'min' .... insted of mean
"""
# here this is for only discount column 
df8 = df.fillna({'Discount' : df['Discount'].mean()})
df8
#here below two are for all null values in Data Frame
"""
df8 = df.fillna(value = df['Discount'].mean())
df8
df9 = df.fillna(value = df['Discount'].max())
df9


# dropna()
#     Drop the row(Which contain null value)
df10 = df.dropna()
df10

# if there is in row any shell is null then "any" remove that row
df11 = df.dropna(how='any')
df11

# if there is in row all shellis null then "all" remove that row
df12 = df.dropna(how='all')
df12

# "numpy" is required for "replace" 
# here it replace specific null shell whith the given value
import numpy as np
df13 = df.replace(to_replace=np.nan , value = 123)
df13

# Replace value with another value 
#                   original value , replace value
df15 = df.replace(to_replace=0.15 , value=555.0)
df15

# interpolate()
""""
     1
     2
     3
     null
     5
     6
     here above it fill 4 insted of null for linear sequence 
     """

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11/8/2017,North,1254.0,0.12,NaN,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11/8/2017,South,749.0,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,6/12/2017,NaN,2360.0,NaN,165.20,NaN
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10/11/2016,South,896.0,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10/11/2016,South,NaN,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945.0,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,7/12/2015,West,1195.0,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,6/6/2017,West,1567.0,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659.0,555.00,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034.0,0.28,165.44,Tamil Nadu

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 22: invalid start byte