In [68]:
import pandas as pd
df = pd.read_csv("iqr.csv")
df

    IQR
0     5
1     6
2     7
3    13
4    43
5    45
6    46
7    55
8    56
9    60
10   61
11   62
12   65
13   66
14   66
15   67
16   90
17  100
18  104
19  132

In [69]:
sorted(df)

['IQR']

In [73]:
import numpy as np
quantile1, quantile3= np.percentile(df,[25,75])

In [74]:
print(quantile1,quantile3)

44.5 66.25

In [75]:
iqr_value=quantile3-quantile1
print(iqr_value)

21.75

In [76]:
lower_bound_val = quantile1 -(1.5 * iqr_value) 
upper_bound_val = quantile3 +(1.5 * iqr_value)

In [77]:
print(lower_bound_val,upper_bound_val)

11.875 98.875